body
{
    background-image: url(kar.png);
    color: whitesmoke;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center ;
    background-size: cover;
}
h1
{
    background: linear-gradient(to right skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p
{
    background: linear-gradient(to left skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}