body
{
    margin: 0px;
}
#box1
{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 20px;
    background: greenyellow;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}
#box2
{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 20px;
    background: dodgerblue;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}